*{
 margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@0;1&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
.navbar{
  display: flex;justify-content: space-around;box-shadow: 0 1px 3px -2px black;padding: 20px 0;
}
.logo {
  display: flex;align-items: center;gap: 10px;
}
.logo img{
  width: 50px;
}
.logo p{
  color: #171717; font-size: 38px; font-weight: 600;
}
.menu{
  display: flex; align-items: center;list-style: none;gap: 50px;color: #626262;font-size: 20px;font-weight: 500;
}

.menu hr{
  border: none;width: 90%;height: 3px;border-radius: 10px;background-color: #FF4141;
}
.menu li{
  display: flex;flex-direction: column;align-items: center;justify-content: center;cursor: pointer;
}
.cart{
  display: flex;align-items: center;gap: 45px;
}
.cart img{
  width: 40px;
}
.cart button{
  width: 120px;height: 40px;outline: none;border: 1px solid #7a7a7a;border-radius: 75px;color: #515151;
  font-size: 18px;font-weight: 500;background-color: white;cursor: pointer;
}
.cart button:active{
  background-color: #f3f3f3;
}
.cart-count{
  height: 20px;width: 20px;display: flex;justify-content: center;margin-top: -35px;margin-left:-55px ;border-radius: 11px;
  font-size: 16px;background-color: red;color: white;
}
